.first {
    box-sizing: border-box;
    background-color: green;
    width: 350.01px;
    height: 220.01px;
    padding: 15px 10px 20px;
    border: 2px;
    border-color: red;
    border-style: dashed;
    margin-bottom: 30px;
}